@import "vars";

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1500px) {
	.section {
		&-prohodit {
			svg {
				.cls-7 {
					font-size: 20px;
				}
			}
		}
	}
 }

 @media only screen and (max-width : 1400px) {
	.section {
		&-prohodit {
			&-content {
				width: auto;
			}
			svg {
				width: 1500px;
			}
		}
	}
 }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
   .section {
      &-form {
         &.has-age {
            .section-form-title {
               margin-bottom: 30px;
            }
         }
      }
   }

   .more-modal {
	   &-image {
		   img {
			   width: 293px;
		   }
	   }
   }
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.logo-text {
		display: none;
	}

	.section {
		&-title {
			font-size: 30px;
			margin-bottom: 30px;
		}
	
		&-main {
		}

		&-form {
			&-title {
				font-size: 24px;
			}
		}

		&-program {
			.program {
				&-title {
					font-size: 20px;
					margin-bottom: 10px;
				}
				img {
					margin-bottom: 15px;
				}
			}
		}

		&-prohodit {
			&-texts {
				display: block;
			}
			svg {
				display: none;
			}
		}

		&-polza {
			.review {
				display: block;
				text-align: center;
				img {
					margin-bottom: 10px;
				}
			}
		}				
	}
	.footer {
		&-content {
			display: block;
			&-text {
				max-width: none;
				margin-top: 10px;
			}
			.logo {
				margin-bottom: 10px;
			}
			.button {
				margin-bottom: 10px;
			}
		}
	}

	.more-modal {
		&-content {
			padding: 0;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&-image {
			margin-bottom: 10px;
			img {
				margin-bottom: 10px;
			}
		}
	}
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.button {
		min-width: auto;
	}

	.page-wrapper {
	}

	.header {
		.button {
			padding-left: 10px;
			padding-right: 10px;
		}
		.hamburger {
			display: block;
      }
      .grow {
         display: block;
      }
	}

	.main-menu {
		position: fixed;
		top: 107px;
		left: 0;
		right: 0;
		text-align: left;
		z-index: 98;
		height: auto;
		display: none;
		background-color: rgba(255, 255, 255, 1);

		ul {
			display: block;
			height: auto;
			padding: 15px 0;
			li {
				margin-bottom: 10px;
			}

			a {
				&:hover, &.active {
					color: $accent;
				}
			}
		}
	}

	.section {

		&-main {
			padding-top: 200px;
			&-title {
				font-size: 35px;
			}
			&-form {
				margin-left: 0;
				&-title {
					font-size: 20px;
				}
			}
		}
		&-form {
			padding-bottom: 20px;
			padding-top: 20px;
			&-title {
				margin-bottom: 20px;
			}
			form {
				flex-direction: column;
				.input {
					margin-bottom: 15px;
				}
			}
		}
		&-polza {
			.reviews {
				display: block;
			}
			.review {
				width: 100%;
				text-align: left;
				padding: 30px 30px 20px;
				&::after {
					content: "";
					clear: both;
					display: block;
				}
				img {
					float: left;
				}
				&:nth-child(3) {
					background: $green;
				}
				&:nth-child(4) {
					background: $accent;
				}
			}
		}
		&-reason {
			.reason {
				width: 50%;
			}
		}

		&-group {
			.groups {
				display: block;
			}
			.group {
				width: 100%;
				&-title {
					font-size: 24px;
				}
				&-age {
					font-size: 24px;
					margin-bottom: 20px;
				}
				&-text {
					text-align: center;
				}
			}
		}
		&-contact-content {
			position: static;
			max-width: 100%;
			margin-left: 0;
			padding: 20px 15px;
			.section-contact-block {
				
			}
		}		
	}
	

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

	.hidden-xxs {
		display: none !important;
	}

	.header {
		.logo {
			width: 120px;
		}
	}

	.main-menu {
		top: 74px;
	}
	.section {
		padding: 30px 0;
		&-title {
			font-size: 25px;
			margin-bottom: 20px;
		}
		&-main {
			padding-top: 150px;
			&-title {
				font-size: 28px;
			}
		}
		&-form {
			.input, .button {
				width: 100%;
			}
		}
		&-polza {
			.review {
				text-align: center;
				img {
					float: none;
				}
			}
		}
		&-reason {
			.reason {
				margin-bottom: 30px;
				width: 100%;
				img {
					height: 80px;
					margin-bottom: 5px;
				}
			}
		}
		&-group {
			&-text {
				font-size: 16px;
				margin-bottom: 15px;
			}
			.group {
				&-title {
					font-size: 24px;
				}
				&-age {
					font-size: 18px;
					margin-bottom: 15px;
				}
				&-text {
					font-size: 16px;
					margin-bottom: 15px;
				}
			}
		}
	}

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.hidden-xss {
		display: none !important;
	}

	.mobtel{
        display: block;
	}
	
    .whatsapp{
        display: block;
    }

	.modal {
		&-content {
			padding: 15px;
		}
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

