@import '../../node_modules/bootstrap-grid/dist/grid.min';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min';
@import '../../node_modules/hamburgers/dist/hamburgers.min';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min';
@import '../../node_modules/font-awesome/css/font-awesome.min';
@import '../../node_modules/remodal/dist/remodal';
@import '../../node_modules/remodal/dist/remodal-default-theme';
@import './vars';

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
         url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
         url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
         url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

.owl-carousel {
   padding: 0 50px;
  .owl {
     &-dots {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        &.disabled {
           display: flex;
        }
     }

     &-dot {
        border-radius: 50%;
        background-color: lighten($color: $green, $amount: 30%) !important;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        &.active {
         background-color: $green !important;
      }
     }
  }
}

.remodal {
   text-align: left;

   &-close {
       left: auto;
       right: 0;
   }

   .modal-title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
   }

   &.remodal-small {
       max-width: 450px;
   }

   .input {
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #ccc;

      &+.error-message {
         margin-top: -15px;
      }
   }

   .button {
      margin: 0;
      width: 100%;
   }
}